<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anuntah.android.cbse_class12solvedquestionpapers">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.anuntah.android.cbse_class12solvedquestionpapers.FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.anuntah.android.cbse_class12solvedquestionpapers.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anuntah.android.cbse_class12solvedquestionpapers.StreamActivity"
            android:label="Select Your Stream"
            android:parentActivityName="com.anuntah.android.cbse_class12solvedquestionpapers.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.anuntah.android.cbse_class12solvedquestionpapers.ScienceActivity"
            android:label="Subjects Of Science"
            android:parentActivityName="com.anuntah.android.cbse_class12solvedquestionpapers.StreamActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.anuntah.android.cbse_class12solvedquestionpapers.CommerceActivity"
            android:label="Subjects Of Commerce"
            android:parentActivityName="com.anuntah.android.cbse_class12solvedquestionpapers.StreamActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.anuntah.android.cbse_class12solvedquestionpapers.ArtsActivity"
            android:label="Subjects of Arts"
            android:parentActivityName="com.anuntah.android.cbse_class12solvedquestionpapers.StreamActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.anuntah.android.cbse_class12solvedquestionpapers.ScienceYearsListActivity"
            android:parentActivityName="com.anuntah.android.cbse_class12solvedquestionpapers.StreamActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.anuntah.android.cbse_class12solvedquestionpapers.SciencePapers"/>
        <activity android:name="com.anuntah.android.cbse_class12solvedquestionpapers.logo_description"
            android:parentActivityName="com.anuntah.android.cbse_class12solvedquestionpapers.MainActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>